:root {
  --font-normal: "Funnel Display";
  --font-dyslexia: "Atkinson Hyperlegible Next";
}

.transparent {
  opacity: 0.5;
}

.md-content a {
  text-decoration: none;
}

.md-content a:hover,
.md-content a:focus {
  color: rgb(170, 60, 170);
  text-decoration: none;
}

.md-content .mention {
  display: inline-block;
  padding: 0.016em 0.35em;
  border-radius: 0.3em;
  font-weight: 750;
  text-decoration: none;
}

.md-content .mention:hover {
  filter: brightness(2);
}

.md-header__button.font-toggle-btn {
  cursor: pointer;
}

.font-toggle-btn svg {
  display: block;
}

.font-toggle-btn[aria-pressed="true"] {
  opacity: 1;
}

.md-status--wip {
  --md-status: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23f59e0b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">\<path d="m15 12-9.373 9.373a1 1 0 0 1-3.001-3L12 9"/>\<path d="m18 15 4-4"/>\<path d="m21.5 11.5-1.914-1.914A2 2 0 0 1 19 8.172v-.344a2 2 0 0 0-.586-1.414l-1.657-1.657A6 6 0 0 0 12.516 3H9l1.243 1.243A6 6 0 0 1 12 8.485V10l2 2h1.172a2 2 0 0 1 1.414.586L18.5 14.5"/>\</svg>');
  color: #526cfe;
}

/* Slate */
[data-md-color-scheme="slate"] .md-content .mention {
  background: color-mix(
    in oklab,
    hsl(234.935 calc(1*85.556%) 64.706% /0.23921568627450981) 100%,
    hsl(0 0% 5.098039215686274% /0.23921568627450981) 60%
  );

  color: color-mix(
    in oklab,
    hsl(0, 0%, 100%),
    hsl(230.667 49.451% 35.686% / 1) 40%
  );
}

/* Default */
[data-md-color-scheme="default"] .md-content .mention {
  background: color-mix(
    in oklab,
    hsl(234.935 85.556% 64.706% / 0.23921568627450981) 100%,
    hsl(0 0% 5.098039215686274% / 0.23921568627450981) 60%
  );

  color: color-mix(
    in oklab,
    hsl(230.667 49.451% 35.686% / 1) 100%,
    hsl(0 0% 0%) 0%
  );
}

html[data-font-mode="dyslexia"] {
  --md-text-font: var(--font-dyslexia);
}

html[data-font-mode="dyslexia"] h1,
html[data-font-mode="dyslexia"] h2,
html[data-font-mode="dyslexia"] h3,
html[data-font-mode="dyslexia"] h4,
html[data-font-mode="dyslexia"] h5,
html[data-font-mode="dyslexia"] h6 {
  --md-text-font: var(--font-normal);
}

sub {
  opacity: 0.5;
}